@font-face{
    src: url(../recursos/fonts/Inter-VariableFont_slnt\,wght.ttf);
    font-family: Inter;
}
@font-face{
    src: url(../recursos/fonts/Inter-Bold.ttf);
    font-family: Inter-Bold;
}
body {
    margin: 0;
}
.borde {
    border: none;
    outline: 1px solid hsl(0, 0%, 70%);
    border-radius: 7px;
}
.sombra {
    box-shadow: 0px 0px 5px hsl(0, 0%, 80%);
}
.contenedor-general {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 300px;
    grid-template-rows: 10dvh 4dvh 86dvh;
    max-height: 100dvh;
    grid-template-areas: 
    "header header header"
    "navbar navbar navbar"
    "content content content";

    font-family: Inter, sans-serif;
}
.header {
    grid-area: header;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-left: 30px;
    align-items: center;
}
.header .titulo {
    font-family: Inter-Bold;
    font-size: 1.6em;
}
.header .titulo h1{
    margin: 0px;
}
.header .carta-usuario {
    min-height: 60px;
    max-height: 80px;
    margin-right: 10px;
    min-width: 500px;
    font-size: 1.2em;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "foto nombre"
    "foto cargo";
}
.header .foto-usuario {
    grid-area: foto;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    justify-self: center;
    align-self: center;
}
.nombre {
    grid-area: nombre;
    font-weight: 500;
    padding-top: 15px;
    color: hsl(0, 0%, 0%);
}
.cargo {
    grid-area: cargo;
    color: hsl(0, 0%, 50%);
}
.navbar {
    grid-area: navbar;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 50%);
    border-bottom: 1px solid hsl(0, 0%, 70%);
    padding-left: 30px;
    font-weight: 500;
    display: flex;
    flex-flow: row nowrap;
}
.navbar a {
    font-size: 1.2em;
    font-weight: 500;
    font-family: Inter, sans-serif;
    text-decoration: none;
    color: hsl(0, 0%, 50%);
    padding: 5px 20px 0px 20px;
}
.navbar a:hover {
    color: hsl(0, 0%, 20%);
    background-color: hsl(0, 0%, 90%);
}
.navbar a:focus-visible {
    outline: 1px solid hsl(0, 0%, 30%);
    color: hsl(0, 0%, 20%);
    background-color: hsl(0, 0%, 90%); 
}
.contenedor-general main {
    grid-area: content;
    background-color: hsl(0, 0%, 100%);
}