.contenido {
    display: grid;
    grid-template-columns: 3fr 2fr;
    position: relative;
}
.panel-izquierdo {
    background-color: hsl(0, 0%, 100%);
    padding: 80px 30px 0px 30px;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 1fr;
    row-gap: 20px;
    padding-bottom: 20px; */
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    padding-bottom: 20px;
    overflow: auto;
}
.cabecera {
    position: absolute;
    background-color: hsl(0, 0%, 100%, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
    width: 60dvw;
    height: 60px;
    top: 0;
    left: 0;
}
.contenedor-buscador {
    display: flex;
    position: relative;
}
.buscador {
    height: 100px;
    padding-left: 10px;
    font-family: Inter, sans-serif;
    font-size: 1.1em;
    height: 30px;
    width: 100%;
    margin: 20px 30px 0px 30px;
}
.buscador:hover {
    outline: 1px solid hsl(0, 0%, 50%);
    background-color: hsl(0, 0%, 95%);
}
.buscador:focus-visible {
    outline: 1px solid hsl(0, 0%, 50%);
    background-color: hsl(0, 0%, 95%);
}
.contenedor-productos {
    /* display: grid;
    grid-template-rows: repeat(auto-fill, minmax(40px, 1fr)); */
    display: flex;
    flex-flow: column nowrap;
    height: auto;
}
.contenedor-productos nav {
    height: 40px;
    border-bottom: 1px solid hsl(0, 0%, 70%);
    border-radius: 0;
    color: hsl(0, 0%, 30%);
    display: grid;
    grid-template-columns: 12fr 2fr 2fr 1fr;
    justify-content: flex-start;
    align-content: center;
    column-gap: 10px;
    padding: 0px 10px;
}
.producto {
    height: auto;
    border-bottom: 1px solid hsl(0, 0%, 70%);
    border-radius: 0;
    color: hsl(0, 0%, 0%);
    display: grid;
    grid-template-columns: 12fr 2fr 2fr 1fr;
    justify-content: flex-start;
    align-content: center;
    column-gap: 10px;
    padding: 5px 10px;
    align-items: center;
}
.producto:hover {
    background-color: hsl(0, 0%, 95%);
}
.contenedor-productos .producto:last-child {
    border-bottom: none;
}
.boton {
    background-color: hsl(0, 0%, 0%);
    border-radius: 4px;
    outline: none;
    color: hsl(0, 0%, 100%);
    display: grid;
    place-content: center;
}
.agregar {
    font-size: 25px;
    justify-self: center;
    width: 50px;
    height: 30px;
}
.boton:hover {
    background-color: hsl(0, 0%, 10%);
}
/* Panel derecho */
.panel-derecho {
    background-color: hsl(0, 0%, 90%);
    padding: 20px 30px;
    overflow: auto;
    padding-bottom: 80px;
}
.productos-seleccionados {
    background-color: hsl(0, 0%, 100%);
    width: 100%;
    height: auto;
}
.productos-seleccionados nav {
    height: 40px;
    border-bottom: 1px solid hsl(0, 0%, 70%);
    border-radius: 0;
    color: hsl(0, 0%, 30%);
    display: grid;
    grid-template-columns: 12fr 2fr 2fr;
    justify-content: flex-start;
    align-content: center;
    column-gap: 10px;
    padding: 0px 10px;
}
.eliminar:hover {
    color: hsl(0, 0%, 0%);
}
.productos-seleccionados .producto {
    height: 40px;
    border-bottom: 1px solid hsl(0, 0%, 70%);
    border-radius: 0;
    color: hsl(0, 0%, 0%);
    display: grid;
    grid-template-columns: 12fr 2fr 2fr;
    justify-content: flex-start;
    align-content: center;
    column-gap: 10px;
    padding: 0px 10px;
}
.productos-seleccionados .producto:last-child {
    border-bottom: none;
}
.productos-seleccionados .boton {
    justify-self: flex-start;
}
.datos-venta {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    position: absolute;
    background-color: hsl(0, 0%, 100%, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
    width: 40dvw;
    height: 60px;
    bottom: 0;
    right: 0;
}
.datos-venta .boton {
    padding: 5px 10px;
}
.datos-venta span {
    font-size: 30px ;
}