body,
html {
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100dvw;
  height: 100dvh;
}

.main-container {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container>.login,
.main-container>.hero-body {
  height: auto;
  width: 100%;
  min-width: 300px;
  max-width: 360px;
}

.contenedor-imagen {
  width: 250px;
  height: 250px;
}

.imagen {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenedor-general {
  max-height: 100dvh;
  max-width: 100dvw;
}

.borde {
  border: none;
  outline: 1px solid hsl(0, 0%, 90%);
  border-radius: 4px;
}

.sombra {
  box-shadow: 0px 0px 5px hsl(0, 0%, 90%);
}

.buscador {
  height: 30px;
  font-size: 1em;
  width: 100%;
  padding-left: 10px;
}

.buscador:hover {
  background-color: hsl(0, 0%, 95%);
}

.buscador:focus-visible {
  background-color: hsl(0, 0%, 95%);
}

.tabla {
  margin-top: 20px;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
}

.tabla>nav {
  display: grid;
  padding: 4px 10px;
  min-height: 30px;
  align-items: center;
  border-bottom: 1px solid hsl(0, 0%, 90%);
}

.tabla>div {
  display: grid;
  padding: 5px 10px;
  min-height: 40px;
  color: hsl(0, 0%, 10%);
  align-items: center;
  border-bottom: 1px solid hsl(0, 0%, 90%);
}

.tabla>div:hover {
  background-color: hsl(0, 0%, 97%);
}

.tabla>div:last-child {
  border-bottom: none;
}

.seccion-productos {
  border-top: 1px solid hsl(0, 0%, 80%);
  position: relative;
  display: grid;
  grid-template-columns: 7fr 5fr;
  position: relative;
  height: 93dvh;
}

.panel-izquierdo {
  overflow: auto;
  padding: 20px 32px 20px 32px;
  display: flex;
  flex-flow: column nowrap;
  padding-bottom: 20px;
}

.tabla>.nav-productos {
  grid-template-columns: 12fr 2fr 2fr 1fr;
}

.tabla>.detalles-producto {
  grid-template-columns: 12fr 2fr 2fr 1fr;
}

.tabla>.detalles-producto>span:first-child {
  padding-right: 10px;
}

.panel-derecho {
  overflow: auto;
  padding: 20px 32px 20px 32px;
  border-left: 1px solid hsl(0, 0%, 80%);
  height: 90dvh;
}

.tabla>.nav-venta {
  grid-template-columns: 3fr 1fr;
  padding: 5px 10px;
  height: 50px;
}

.tabla>.nav-prod-sel {
  grid-template-columns: 10fr 2fr;
}

.tabla>.prod-sel {
  grid-template-columns: 8fr 1fr 1fr;
  column-gap: 10px;
}

.table.is-hoverable.is-striped tbody tr:not(.is-selected):hover {
  background-color: #f0f0f0;
  color: black;
}

.table.is-hoverable.is-striped tbody tr:not(.is-selected):hover:nth-child(2n) {
  background-color: #f0f0f0;
  color: black;
}